@import '~/variables';

.city_detail {
  color: $color-foreground-bright;
  font-size: $font-size-l;

  &-header {
    color: $color-secondary;
    margin-bottom: 1rem;
  }

  &-icon {
    font-size: 3rem;
    margin-right: 1rem;
  }

  &-map {
    border-radius: 50%;
  }
}
