{
    "presets": [
        "es2015"
    ],
    "plugins": [
        "babel-polyfill",
        "syntax-dynamic-import",
        ["transform-runtime", { "polyfill": false, "regenerator": true }]
    ]
}