
{
    "presets": [
      ["@babel/preset-env", {
        "useBuiltIns": "usage",
        "debug": true,
        "targets": {
          "browsers": ["last 2 versions"],
        }
      }]
    ],
    "plugins": [
      "@babel/plugin-syntax-dynamic-import"
    ]
}