@import '~/variables';

.p-wizard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  width: 100%;

  &-avatar {
    text-align: center;
  }

  &-controls {
    padding-top: 2rem;
  }
}
