@import '~/variables';

.city_list {
  &-title {
    margin-right: auto;
  }

  &-close {
    cursor: pointer;
    margin-left: 1rem;
    transition: color $animation-speed-default;

    &:hover {
      color: $color-secondary;
      transition: color $animation-speed-default;
    }
  }
}
