@import '~styles/variables';

.city_detail {
  color: get-color(basic, bright);
  font-size: get-font-size(l);

  &-header {
    color: get-color(secondary);
    margin-bottom: 1rem;
  }

  &-icon {
    font-size: 3rem;
    margin-right: 1rem;
  }

  &-map {
    border-radius: 50%;
  }
}
