@import '../base/variables';

.button {
  $height: 2.3rem;

  background-color: $color-brand;
  border-radius: $radius-strongest;
  box-shadow: 0 10px 8px -8px rgba($color-darkest, .2);
  color: $color-brightest;
  font-family: $font-condensed;
  font-size: $font-size-xs;
  font-weight: $font-weight-normal;
  letter-spacing: .5px;
  line-height: $height;
  padding-left: 2rem;
  padding-right: 2rem;
  position: relative;
  text-transform: uppercase;
  top: 0;
  transition: all $animation-speed-default;

  &-text {
    color: $color-brightest;

    &.is-loading {
      color: transparent;
    }
  }

  &-label {
    color: $color-dark-2;
    font-size: $font-size-xs;
    font-weight: $font-weight-semibold;
    position: absolute;
    right: -.5rem;
    text-transform: none;
    transform: translateX(100%);
    transition: all $animation-speed-default;

    &:hover {
      color: $color-dark-6;
    }
  }

  &:hover {
    background-color: $color-brand-brighter-1;
  }

  &:focus {
    box-shadow: 0 10px 8px -8px rgba($color-darkest, .2), 0 0 0 .2rem rgba($color-brand-brighter-3, .8);
  }

  &.is-loading {
    $newHeight: 1rem;

    animation: move .5s linear infinite;
    background-image: repeating-linear-gradient(-45deg, rgba($color-dark-8, .2), rgba($color-dark-8, .2) 11px, rgba($color-dark-2, .2) 10px, rgba($color-dark-2, .2) 20px);
    background-size: 28px 28px;
    box-shadow: none;
    cursor: wait !important;
    line-height: 1rem;
    top: 0;
  }

  &.is-disabled {
    background-color: $color-dark-1;
    box-shadow: none;
    cursor: not-allowed !important;
    opacity: 1;

    &:focus {
      box-shadow: none;
    }
  }

  &--centered {
    display: block;
    margin: 0 auto;
  }

  &--rounded {
    $size: 3rem;

    align-items: center;
    display: inline-flex;
    height: $size;
    justify-content: center;
    padding: 0;
    position: relative;
    width: $size;
  }

  &--bright {
    background-color: $color-brightest;
    color: $color-dark-8;

    &:hover {
      background-color: $color-brightest;
      color: $color-brand-brighter-1;
    }
  }

  &--small {
    height: 2rem;
    line-height: 2rem;
    width: 2rem;
  }

  &--empty {
    background: transparent;
    border: 1px solid $color-dark-2;
    box-shadow: none;
    color: $color-dark-2;

    &:hover {
      border: 1px solid $color-brand-brighter-1;
      color: $color-brightest;
    }
  }

  &--attention {
    background-color: $color-attention;

    &:hover {
      background-color: lighten($color-attention, 5);
    }
  }

  &--transparent {
    background: transparent;
    border: none;
    box-shadow: none;
    color: $color-dark-3;

    &:hover {
      background: transparent;
      color: $color-dark-4;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &--link {
    background: transparent;
    color: unset;
    font-family: unset;
    letter-spacing: unset;
    padding: 0;
    text-transform: unset;

    &:hover {
      background: transparent;
      color: $color-brand-darker-2;
      text-decoration: underline;
    }
  }
}