@import '~/variables';

.weather_list {
  color: $color-foreground-bright;
  font-size: $font-size-l;

  &-city {
    background-color: $color-background-bright;
    border-radius: 5px;
    cursor: pointer;
    padding: 1vw 3vw;
    transition: background-color $animation-speed-default;

    &:hover {
      background-color: $color-background-brighter;
    }
  }

  &-title {
    font-size: $font-size-xl;
    font-weight: $font-weight-bold;
  }

  &-item {
    display: inline-block;
    padding: 1rem 0;
    vertical-align: middle;
  }

  &-icon {
    font-size: 3rem;
    margin-right: 1rem;
    perspective: 200;
    perspective-origin: 0 0;
    transform-origin: 50% 50%;
    transition: all $animation-speed-slow;
  }

  &-city:hover &-icon {
    transform: rotateY(180deg);
  }
}
