@import '~styles/variables';

.weather_list {
  color: get-color(basic, bright);
  font-size: get-font-size(l);

  &-city {
    background-color: get-color(basic, bright);
    border-radius: 5px;
    cursor: pointer;
    padding: 1vw 3vw;
    transition: background-color get-time(default);

    &:hover {
      background-color: get-color(basic, bright);
    }
  }

  &-title {
    font-size: get-font-size(xl);
    font-weight: get-font-weight(bold);
  }

  &-item {
    display: inline-block;
    padding: 1rem 0;
    vertical-align: middle;
  }

  &-icon {
    font-size: 3rem;
    margin-right: 1rem;
    perspective: 200;
    perspective-origin: 0 0;
    transform-origin: 50% 50%;
    transition: all get-time(slow);
  }

  &-city:hover &-icon {
    transform: rotateY(180deg);
  }
}
