.alert {
  background: get-color(primary);
  font-size: get-font-size(xl);
  position: absolute;
}

>>> .my-node-enter {
  opacity: 0;
}

>>> .my-node-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}

>>> .my-node-exit {
  opacity: 1;
}

>>> .my-node-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
