/**
 * Font-face generator for all the fonts of the project,
 * will be useful to add different files for each font.
 */

@font-face {
  font-family: 'OpenSans';
  font-path: '../../src/assets/fonts/OpenSans/OpenSans-Light';
  font-weight: value($font-weight, light);
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  font-path: '../../src/assets/fonts/OpenSans/OpenSans-Regular';
  font-weight: value($font-weight, normal);
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  font-path: '../../src/assets/fonts/OpenSans/OpenSans-Bold';
  font-weight: value($font-weight, bold);
  font-style: normal;
}
