/**
 * Define global styles for the application,
 * usually html and body content.
 */

html,
body {
  color: value(var(--color-basic), darkest);
  font-family: 'OpenSans';
  font-size: calc(var(--default-font-size) * 0.65);
  height: 100%;
  width: 100%;

  @media screen and (min-width: value(var(--media), s)) {
    font-size: var(--default-font-size);
  }

  @media screen and (min-width: value(var(--media), m)) {
    font-size: var(--default-font-size);
  }
}

a,
a:active,
a:hover,
a:visited {
  text-decoration: none;
}
